body{
  overflow-x: hidden;
}

.buttonsend:hover{
  background-color: #ee4fe1 !important;
  -webkit-transition: ease 0.8s;
  transition: ease 0.8s;
}

.cotactInput {
  border: 1px solid rgba(255,255,255,0.6) !important;
}
.cotactInput:hover{
  border: 1px solid rgba(255,255,255,1) !important;
}

.menuactive {
  color: #F97FE9 !important;
}

.MuiDrawer-paperAnchorRight {
  background: #47076f !important;
  width: 200px;
}

.menudrawer{
  padding-left: 20px !important;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}